@charset "utf-8";

*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-style: normal;
}

body {
    line-height: 1.4;
    overflow-x: hidden;
    background: #fafafa;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    min-width: 1200px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-style {
    padding-top: 17px;
    margin-bottom: 3px;
}
.breadcrumb-style:after {
    display: block;
    content: '';
    clear: both;
}
.breadcrumb-style ul {
    float: right;
}
ol, ul {
    list-style: none;
}
.breadcrumb-style li {
    display: inline-block;
    position: relative;
}
.breadcrumb-style li a {
    font-size: 14px;
    color: #666;
}
.breadcrumb-style li a.active {
    color: #333;
    font-weight: 500;
}

a, a:hover, a:active {
    text-decoration: none;
    color: #333;
}
.breadcrumb-style li+li {
    margin-left: 25px;
}
.breadcrumb-style li {
    display: inline-block;
    position: relative;
}
.breadcrumb-style li+li:before {
    content: '';
    position: absolute;
    top: 9px;
    left: -13px;
    width: 1px;
    height: 7px;
    transform: rotate(45deg);
    background: #333;
}
.breadcrumb-style li+li:after {
    content: '';
    position: absolute;
    bottom: 9px;
    left: -13px;
    width: 1px;
    height: 7px;
    transform: rotate(-45deg);
    background: #333;
}

.button-basic {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 60px;
    letter-spacing: -1.65px;
    border-radius: 20px 0 20px 0;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    background: #fff;
    transition-duration: .3s;
}
#alertModal .modal-dialog, #confirmModal .modal-dialog {
    max-width: 350px;
}
.modal-content {
    border-radius: 26px;
}
#alertModal .modal-header, #confirmModal .modal-header {
    border-bottom: 0px;
    padding: 20px 20px 0px;
}
button {
    background: none;
}
#alertModal .modal-body, #confirmModal .modal-body {
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -1.2px;
    text-align: center;
    color: #333;
    padding: 30px 20px 40px;
    background: #fff;
}
#alertModal .modal-footer {
    background: #7acc12;
    height: 60px;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: -1.13px;
    color: #fff;
    text-align: center;
    justify-content: center;
}
#alertModal, #confirmModal {
    padding: 0px 10px !important;
}
.modal {
    padding-right: 0 !important;
    overflow-y: hidden !important;
}
#confirmModal {
    z-index: 1049 !important;
}
#confirmModal .modal-footer .cancel {
    border-bottom-left-radius: 26px;
    background: #333333;
    color: #fff;
}
#confirmModal .modal-footer> * {
    flex: 1;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: -1.13px;
    text-align: center;
    justify-content: center;
    height: 60px;
    margin: 0px;
}

.thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
}