/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 62.5%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  font-family: "Noto Sans KR", sans-serif;
  background: none;
  border: none;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
.container.full {
  max-width: 100%;
}

header.main_header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 141px;
  background-color: #fff;
  border-bottom: 1px #e5e5e5 solid;
  z-index: 10;
}
header.main_header > .container {
  display: flex;
  align-items: center;
}
header.main_header > .container > .header-logo h1 img {
  display: block;
  width: 82px;
}
header.main_header #gnb {
  margin-left: 58px;
}
header.main_header #gnb > ul {
  display: flex;
  align-items: center;
  margin-top: 41px;
}
header.main_header #gnb > ul > li > a, header.main_header #gnb > ul > li > .btn-menu {
  padding: 0 20px;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -1.1px;
  transition: all 0.3s;
}
header.main_header #gnb > ul > li > .btn-menu {
  display: flex;
  align-items: center;
}
header.main_header #gnb > ul > li .ico-menu {
  display: inline-block;
  width: 18px;
  height: 16px;
  background: url("/resources/assets/images/ico_menu_bar.png") no-repeat;
  background-size: 18px;
  margin-right: 14px;
}
header.main_header #gnb > ul > li button {
  cursor: pointer;
}
header.main_header #gnb > ul > li:hover > a, header.main_header #gnb > ul > li:hover > button {
  color: #7acc12;
}
header.main_header #gnb > ul > li:focus > a {
  color: #7acc12;
}

.search-area {
  display: flex;
  align-items: center;
  width: 240px;
  height: 50px;
  padding: 0 14px;
  border: solid 1px #e5e5e5;
  background-color: #fff;
  border-radius: 16px 0;
}
.search-area input {
  display: flex;
  flex: 1;
  height: 48px !important;
  padding: 0px !important;
  margin-right: 14px;
  border-width: 0px !important;
}
.search-area input:focus {
  box-shadow: none !important;
  outline: none;
}

.member-search-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  padding-bottom: 27px;
}
.member-search-area .search-area {
  display: flex;
  align-items: center;
  width: 240px;
  height: 50px;
  padding: 0 14px;
  border: solid 1px #e5e5e5;
  background-color: #fff;
  border-radius: 16px 0;
  box-sizing: border-box;
}
.member-search-area .search-area input {
  display: flex;
  flex: 1;
  height: 48px !important;
  padding: 0px !important;
  margin-right: 14px;
  border-width: 0px !important;
}
.member-search-area .search-area input:focus {
  box-shadow: none !important;
  outline: none;
}

.head-util-area {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-right: 3px;
  align-items: center;
}
.head-util-area .welcome {
  position: relative;
  font-size: 14px;
  color: #333;
  font-weight: 300;
  padding-top: 1px;
}
.head-util-area .welcome b {
  font-weight: 500;
  color: #7acc12;
}
.head-util-area button, .head-util-area a {
  margin-left: 17px;
  display: inline-block;
  position: relative;
}
.head-util-area button .counter, .head-util-area a .counter {
  right: -15px;
  width: 20px;
  z-index: 2;
  position: absolute;
  top: -10px;
  background: #7acc12;
  border-radius: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
}
.head-util-area button .counter.hide, .head-util-area a .counter.hide {
  display: none;
}
.head-util-area .logout-btn {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 2;
  border-radius: 10px;
  border: solid 1px #e5e5e5;
  background-color: #fff;
  font-size: 13px;
  letter-spacing: -0.98px;
  color: #666;
  padding: 9px 16px;
  background-color: #fff;
  margin: 0;
}

#lnb-item {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  background-color: #fff;
  z-index: 1;
}
#lnb-item .container {
  position: relative;
}
#lnb-item ol {
  display: flex;
  margin-bottom: 46px;
}
#lnb-item ol > li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
#lnb-item ol > li:not(:last-child) {
  border-right: 1px solid #e4e4e4;
}
#lnb-item ol > li:not(:first-child) {
  padding-left: 30px;
}
#lnb-item ol > li strong {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #555;
}
#lnb-item ul {
  width: 100%;
  padding-top: 5px;
}
#lnb-item ul li a {
  display: block;
  padding: 8px 0;
  font-size: 14px;
  letter-spacing: -0.7px;
  color: #999;
}
#lnb-item ul li a:focus {
  color: #7acc12;
}
#lnb-item ul li:hover > a {
  color: #7acc12;
}

.lnb-close {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 1;
}

.sub-link {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 68px;
  border-top: 1px solid #e4e4e4;
}
.sub-link div {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
}
.sub-link div:first-child {
  padding-right: 40px;
}
.sub-link div:first-child:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 14px;
  background-color: #e4e4e4;
}
.sub-link div:last-child {
  padding-left: 40px;
}
.sub-link b {
  display: block;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -1.2px;
  color: #333;
}
.sub-link a {
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: -1.2px;
  color: #666;
}
.sub-link a i {
  display: block;
  margin-left: 19px;
}

.hide, .offscreen {
  position: absolute;
  display: block;
  overflow: hidden;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.ico {
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: url("/resources/assets/images/ico_sprite_pc.png") no-repeat -10px -10px;
  background-size: 500px;
  vertical-align: top;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-color: transparent;
}

.ico-srh1 {
  width: 20px;
  height: 20px;
  background-image: url("/resources/assets/images/ico-srh01.png");
}

.ico-myIcon {
  width: 22px;
  height: 22px;
  background-image: url("/resources/assets/images/ico_member02.png");
}

.ico-cart1 {
  width: 23px;
  height: 22px;
  background-image: url("/resources/assets/images/ico_cart01.png");
}

.ico-close {
  width: 14px;
  height: 14px;
  background-image: url("/resources/assets/images/ico-close01.png");
}

.fc-green {
  color: #7acc12 !important;
}

footer.page-footer {
  background: #f5f5f5;
  padding: 0px 20px 148px;
  border-top: 1px solid #e5e5e5;
}
footer.page-footer .quick-menu {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
footer.page-footer .quick-menu li > a {
  display: block;
  white-space: nowrap;
  height: 54px;
  line-height: 14px;
  padding: 20px 15px;
  font-size: 14px;
  color: #333333;
  letter-spacing: -1.05px;
}
footer .address-area {
  display: flex;
  flex: 1;
  align-items: flex-start;
}
footer .address-area > img {
  margin-right: 48px;
}
footer .col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
footer .col-auto .dropdown {
  position: relative;
}
footer .col-auto .site-link {
  text-align: right;
  margin-top: -45px;
}
footer .col-auto .site-link .btn {
  position: relative;
  background: #fff;
  height: 50px;
  width: 180px;
  line-height: 20px;
  padding: 9px 20px;
  border-radius: 25px;
  font-size: 14px;
  color: #666666;
  letter-spacing: -0.35px;
  text-align: left;
}
footer .col-auto .site-link .dropdown-item {
  font-size: 14px;
  padding: 3px 15px;
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
footer .col-auto .site-link .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #e9ecef;
}
footer .col-auto .site-link .dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}
footer .col-auto .dropdown-toggle::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -4px;
  border: 0;
  background: url("/resources/assets/images/ui_select_down.png") no-repeat center;
  background-size: 12px;
  width: 12px;
  height: 8px;
  vertical-align: baseline;
}
footer .col-auto .dropdown-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
footer .col-auto .dropdown-menu.show {
  display: block;
  transform: translate3d(0, -346px, 0);
}
footer .copyright {
  color: #333333;
  font-size: 10px;
  display: block;
  text-transform: uppercase;
  padding-top: 16px;
  font-family: Roboto, Sans-serif;
  letter-spacing: -0.25px;
}
footer .page-footer-title {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  letter-spacing: -1.05px;
  padding-bottom: 5px;
  padding-top: 8px;
}
footer .page-footer-typo {
  max-width: 695px;
}
footer .page-footer-typo > li {
  display: inline-block;
  white-space: normal;
  line-height: 23px;
  font-size: 13px;
  color: #333333;
  letter-spacing: -0.98px;
  padding-right: 15px;
}
footer .page-footer-typo > li > span {
  color: #999999;
  padding-right: 3px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}/*# sourceMappingURL=style.css.map */